## IDEA
.idea/
jiesoul.iml

## vscode
.calva/
.clj-kondo/
.cpcache
.history/
.lsp
.vscode/
.portal/
.joyride/

## Mac
.DS_Store

## clojure
.nrepl-port
.shadow-cljs/
node_modules/
public/js
public/css

## project
logs/
package-lock.json
prod-resources/
target/