{:backend/db #profile {:dev {:dbtype "postgresql" :dbname "soulpower" :user "jiesoul" :password "soul1982"}}
 
 :backend/profile #profile {:prod :prod 
                            :dev :dev 
                            :test :test}
 
 :backend/options {:jwt {:exp #profile {:prod 3600
                                        :dev 36000
                                        :test 36000}}
                   :server {:no-doc #profile {:prod true 
                                              :dev false 
                                              :test false}}}
 
 :backend/env {:profile #ig/ref :backend/profile
               :data-dir "resources/database"
               :options #ig/ref :backend/options
               :db #ig/ref :backend/db}
 
 :backend/jetty {:port #profile {:dev #long #or [#env PORT 8080]
                                 :prod #long #or [#env PORT 8080]}
                 :join? false 
                 :env #ig/ref :backend/env}
 
 :backend/nrepl {:bind #profile {:prod "0.0.0.0"
                                 :dev "localhost"}
                 :port #profile {:dev #long #or [#env PORT 3010]
                                 :prod #lang #or [#env PORT 3011]}}
 }