{:backend/profile #profile {:dev :dev
                            :test :test}

 :backend/hikaricp #profile {:dev {:dbtype "postgresql" :dbname "soulpower" :username "jiesoul" :password "soul1982"}
                             :test {:dbtype "postgresql" :dbname "soulpower" :username "jiesoul" :password "soul1982"}}

 :backend/options {:no-doc #profile {:dev false
                                     :test false}
                   :token-options #profile {:dev {:exp 36000 :private-key "soulpower"}
                                            :test {:exp 36000 :private-key "soulpower"}}}

 :backend/env {:profile #ig/ref :backend/profile
               :options #ig/ref :backend/options
               :db #ig/ref :backend/hikaricp}

 :backend/jetty {:port #profile {:dev #long #or [#env PORT 8088]
                                 :test #long #or [#env PORT 8088]}
                 :join? false
                 :env #ig/ref :backend/env}

 :backend/nrepl {:bind #profile {:dev "localhost"
                                 :test "0.0.0.0"}
                 :port #profile {:dev #long #or [#env PORT 3010]
                                 :tests #long #or [#env PORT 3011]}}}