<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
      </Pattern>
    </encoder>
  </appender>

  <appender name="INFO-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/backend.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20MB</totalSizeCap>
      <!-- 30 days to keep -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d %p [%t] %m%n</pattern>
    </encoder>
  </appender>

  <appender name="ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
         <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>[%d{yyyy-MM-dd' 'HH:mm:ss.sss}] [%C] [%t] [%L] [%-5p] %m%n</pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs//%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

  <!-- Send logs to both console and file audit -->
  <logger name="backend" level="trace" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="INFO-LOG" />
  </logger>
  <logger name="org.eclipse.jetty" level="error" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="INFO-LOG" />
  </logger>
  <logger name="org.postgresql" level="warn" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="INFO-LOG" />
  </logger>
  <logger name="com.zaxxer.hikari" level="warn" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="INFO-LOG" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="INFO-LOG" />
    <appender-ref ref="ERROR-LOG" />
  </root>

</configuration>